* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #fff;
    --text-color: #1f1f21;
    --main-color: #3fe2bc;

    --big-font: 4rem;
    --p-font: 1.1rem;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow: scroll;
}

.signIn {
    display: flex;

    a {
        font-size: var(--p-font);
        font-weight: 500;
        color: var(--text-color);
        margin: 0 25px;
        transition: all ease .50s;
    }
}

.signIn a:hover {
    color: var(--main-color);
}

.signIn a.active {
    color: var(--main-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .45s;
}

.logo {
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;

    a {
        font-size: var(--p-font);
        font-weight: 500;
        color: var(--text-color);
        margin: 0 25px;
        transition: all ease .50s;
    }
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

.cart {
    margin-right: -440px;
    margin-top: -15px;


}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--main-color);
    padding-right: 40px;
    color: rgba(255, 255, 255, .5);
}

.input-search::placeholder {
    color: var(--text-color);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: var(--text-color);
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.menu-btn {
    /* background: linear-gradient(130.08deg, #383528 0%, #191919 100%); */

    /* box-shadow: 0px 20px 40px #00000070; */
    /* border: 1px solid #3b3b3b; */
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

#menu-icon {
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}

section {
    padding: 0 8%;

}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.home-img {
    margin-top: 200px;
    margin-right: 10px;
    width: 720px;
    height: 720px;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.home-text {
    width: 70%;
    margin-left: 60px;
}

.home-text h1 {
    font-size: var(--big-font);
    margin: 23px 0;


}

.home-text p {
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 20px 24px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 16px;
    font-weight: 600;

    transition: all 0.6s ease-in-out;

    border: 2px solid var(--main-color);
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    /* Make the button round */
}

.Link-text {
    color: var(--text-color);
    margin-left: 50px;
}

.btn:hover {
    transform: translateY(-5px);
    background: transparent;
    color: var(--main-color);
}

.Link-text {

    color: var(--text-color);
    font-size: 20px;
    margin: 0 50px;
    transition: all 0.6s ease-in-out;
}

.Link-text:hover {
    transform: translateY(-10px);
    color: var(--main-color);

}

.share {
    position: relative;
    bottom: 3rem;
    left: 15%;
    display: flex;
    align-items: center;
}

.share a {
    font-size: 17px;
    color: var(--text-color);
    margin-right: 25px;
}

.social-media {
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    color: var(--text-color);
    font-size: 20px;
    position: absolute;
    margin-left: -80px;
    margin-right: 50px;
}

.social-media i {
    margin: 10px;
    color: #fff;
    transition: all 0.6s ease-in-out;
}

.social-media i:hover {
    margin: 10px;
    color: #fff;
    transform: translateX(5px);
}

.social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--text-color);
    font-size: 20px;
    margin: 0 50px;
    transition: all 0.6s ease-in-out;
}

.social a:hover {
    transform: translateY(-10px);
    color: var(--main-color);
}

.fa-shopping-cart {
    color: white;
    position: absolute;
    margin-left: 65px;
    font-size: 20px;
    margin-top: 40px;
}

@media(min-width:1850px) {
    header {
        padding: 15px 8%;
        transition: .2s;
    }

    .menu-btn {
        display: none;
    }

    section {
        padding: 0 8%;
        transition: .2s;
    }

    .share {
        position: relative;
        left: 20%;
        transition: .2s;
    }
    .cart {
        margin-right: -25%;
        margin-top: -15px;


    }
}

@media(max-width:1850px) {
    header {
        padding: 15px 8%;
        transition: .2s;
    }

    .cart {
        margin-right: -20%;
        margin-top: -15px;


    }

    .menu-btn {
        display: none;
    }

    section {
        padding: 0 8%;
        transition: .2s;
    }

    .share {
        position: relative;
        bottom: 3rem;
        left: 8%;
        transition: .2s;
    }
}

@media(max-width:1370px) {

    .menu-btn {
        display: none;
    }

    .cart {
        margin-right: -20%;
        margin-top: -15px;


    }

    section {
        padding: 0 4%;
        transition: .2s;
    }

    .share {
        position: relative;
        bottom: 3rem;
        margin-top: 100px;
        left: 4%;
        transition: .2s;
    }

    :root {
        --big-font: 4rem;
        --p-font: 1rem;
        transition: .2s;
    }

    .social-media {
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        color: var(--text-color);
        font-size: 20px;
        position: absolute;
        margin-left: -40px;
        margin-right: 50px;

    }
    .home-text h1{
font-size: 40px;
    }
}

@media(max-width:1020px) {
    .navbar a {
        margin: 0 15px;
    }


    .social-media {
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        color: var(--text-color);
        font-size: 20px;
        position: absolute;
        margin-left: -40px;
        margin-right: 50px;

        .cart {
            margin-right: -20%;
            margin-top: -15px;


        }

        .menu-btn {
            display: none;
        }

        :root {
            --big-font: 3.5rem;
            --p-font: 1rem;
            transition: .2s;
        }

        .share {
            position: relative;
            bottom: 3rem;
            left: 4%;
            transition: .2s;
        }

    }
}

@media(max-width:950px) {
    .cart {
        margin-right: -10%;
        margin-top: -15px;


    }
    .disign2 {
        display: none;
    }

    .logo {
        padding-left: 10%;
    }

    .menu-btn {
        display: none;
    }

    section {
        padding: 100px 4%;
    }

    header {
        padding: 1px 4%;
        background: var(--bg-color);
    }

    .home {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .home-text {
        order: 2;
    }

    .home-img {
        height: auto;
        width: auto;
        margin: auto;
    }

    .home-img img {
        max-width: 450px;
        width: 100%;
        height: auto;
    }

}

@media(max-width:850px) {
    .menu-btn {
        display: inline;
    }

    .cart {
        display: none;
    }

    .signIn {
        display: none;
    }

    .social-media {
        display: none;
    }

    .navbar {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 40px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: #fff;
        transition: all 0.4s ease-in-out;

    }

    .search-box {
        display: none;

    }

    .navbar a {
        display: block;
        color: #c3c3c3;
        padding: 0px;
        margin: 0px 0px 40px 0px;
        font-size: 2rem;
        font-weight: 400;
    }

    .navbar.open {
        left: 0;
    }
}

@media(max-width:500px) {
    :root {
        --big-font: 4rem;
        --p-font: 15px;
        transition: .2s;
    }

    .btn {
        padding: 9px 28px;
    }

    .main-btn .Link-text {
        font-size: 15px;
    }
}